<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="de.kodira.cordova.Html2Pdf"
	version="0.0.1">

	<engines>
		<engine name="cordova" version=">=3.0.0" platform="ios"  />
	</engines>

	<name>HTMLtoPDF</name>

	<js-module src="www/Html2Pdf.js" name="Html2Pdf">
		<clobbers target="plugin.Html2Pdf" />
	</js-module>


	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*"> 
			<feature name="Html2Pdf">
				<param name="ios-package" value="KHTML2PDFPlugin"/>
			</feature> 
		</config-file> 
		<header-file src="src/ios/KHTML2PDFPlugin.h" />
		<source-file src="src/ios/KHTML2PDFPlugin.m" />
        <header-file src="src/ios/NDHTMLtoPdf.h"/>
        <source-file src="src/ios/NDHTMLtoPdf.m"/>
	</platform>

</plugin>

