<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="de.kodira.cordova.Html2Pdf"
	version="3.0.4">

	<name>HTMLtoPDF</name>

	<asset src="www/MyPlugin.js" target="MyPlugin.js" />


	<!-- ios -->
	<platform name="ios">
		<plugins-plist key="MyPlugin" />

		<header-file src="MyPlugin.h" />

		<source-file src="MyPlugin.m" />
	</platform>

</plugin>

